@font-face {
	font-family: "sf";
	src: url("/assets/fonts/SanFranciscoText-Regular.otf");
}

@font-face {
	font-family: "house";
	src: url("/assets/fonts/HouseARamaLeagueNight.ttf");
}

@font-face {
	font-family: "rale";
	src: url("/assets/fonts/Raleway-Regular.ttf");
}

body {
	background-color: black;
	margin: 0;
}

.content {
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.logo {
	margin: 5px;
	padding: 10px;
}

.top-nav {
	height: 83px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	margin-right: 155px;
	margin-left: 155px;
}

.top-nav ul {
	display: flex;
	flex-direction: row;
	list-style: none;
}

.top-nav li {
	margin: 5px;
	padding: 10px;
	float: right;
}

.top-nav a {
	color: #015078;
	text-decoration: none;
	font-family: "sf";
	font-size: 16px;
}

.top-nav .main-menu a:hover {
	border-image: url("../img/traits-menu.png") 7;
	border-style: solid;
	border-width: 7px;
	border-left: 0;
	border-right: 0;
	border-top: 0;
}


.red-square {
	border: 2px solid #D1423D;
	border-radius: 5px;
	border-image: 0;
}

.red-square a {
	color: #D1423D;
}

.carousel-top, .slick-track, .slick-list, .slick-slide, .slide {
	max-height: 410px;
}
.slide {
	width: 1280px;
	position: relative;
	background-color: teal;
	display: block;
}

.slide img {
	max-height: 431px;
	max-width: 1280px;
}

.carousel-top .slick-slide {
	min-height: 513px;
}

.carousel-top .slick-dots {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 350px;
    left: 538px;
}

.carousel-top .slick-dots li button {
	background-color: transparent;
	background-image: url("../img/top-carousel/empty.png");
	background-repeat: no-repeat;
	border: 0px;
	text-indent: -9999px;
    overflow:hidden;
    margin: 2px;
}

.carousel-top .slick-dots .slick-active button {
	background-image: url("../img/top-carousel/full.png");
	background-repeat: no-repeat;
	border: 0,0,0,0;
}

.slide-son {
	position: absolute;
	height: 250px;
	width: 425px;
	bottom: 100px;
	left: 100px;
	padding: 20px 40px 40px 40px;
	color: white;
}

.slide-son-1 {
	background-image: url("../img/top-carousel/contour_texte_slide_1.png");
	background-repeat: no-repeat;
}

.slide-son-2 {
	background-image: url("../img/top-carousel/contour_texte_slide_2.png");
	background-repeat: no-repeat;
	width: 560px;
}

.slide-son-3 {
	background-image: url("../img/top-carousel/contour_texte_slide_3.png");
	background-repeat: no-repeat;
}

.slide-son-4 {
	background-image: url("../img/top-carousel/contour_texte_slide_4.png");
	background-repeat: no-repeat;
}

.slide-son-5 {
	background-image: url("../img/top-carousel/contour_texte_slide_5.png");
	background-repeat: no-repeat;
}

.slide-son h1 {
	font-family: "house";
	font-weight: lighter;
	font-size: 48px;
	margin: 0;
	padding: 0;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}

.slide-son p {
	font-family: "rale";
	width: 348px;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}

.slide-son img {
	z-index: 1000;
}

.slick-prev:after {
	content: "<i class="fa fa-chevron-right" aria-hidden="true"></i>";
}

.slick-next: before {
	content: "<i class="fa fa-chevron-left" aria-hidden="true"></i>";
}

.next-arrow {
	position: absolute;
	right: 37px;
	top: 192px;
	z-index: 1000;
}

.next-arrow:hover, .prev-arrow:hover, .slick-dots li button, .top-info-carousel .slick-dots li {
	cursor: pointer;
}

.prev-arrow {
	position: absolute;
	left: 37px;
	top: 192px;
	z-index: 1000;
}

.top-info {
	background-color: rgb(227,233,225);
	margin-bottom: 50px;
}

.top-info-static {
	margin-left: 126px;
	margin-right: 126px;
	padding-top: 34px;
}

.top-info-static h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: "house";
	font-size: 48px;
	font-weight: lighter;
	color: #015078;
}

.top-info-static h1:nth-child(2n) {
	margin-top: -22px;
}

.top-info-static p {
	font-family: "rale";
	font-size: 13px;
	letter-spacing: 1px;
	width: 634px;
	color: #015078;
	font-weight: 500;
}

.top-info-carousel {
	width: 860px;
	height: 390px;
	background-color: rgb(227,233,225);
	margin-left: auto;
	margin-right: auto;
}

.top-info-carousel .slick-dots .slick-active button {
	font-weight: bold;
}

.top-info-carousel .slick-dots {
	display: flex;
	list-style: none;
	width: 860px;
	margin: 0;
	padding: 0;
	top: 0;
	position: absolute;
}

.top-info-carousel .slick-dots button {
	width: 172px;
	padding: 0;
	margin: 0;
	font-family: "sf";
	font-size: 30px;
	color: #004466;
}

.top-info-carousel .slick-dots li {
	border-image: url("../img/separateur.png") 5;
	border-style: solid;
	border-width: 7px;
	border-left: 0;
	border-bottom: 0;
	border-top: 0;
}

.top-info-carousel .slick-dots #slick-slide10 button {
	visibility: hidden;
}

.top-info-carousel .slick-dots #slick-slide10 button:after {
	visibility: visible;
	content: 'Nos métiers';
}

.top-info-carousel .slick-dots #slick-slide11 button {
	visibility: hidden;
}

.top-info-carousel .slick-dots #slick-slide11 button:after {
	visibility: visible;
	content: 'Notre pédagogie';
}

.top-info-carousel .slick-dots #slick-slide12 button {
	visibility: hidden;
}

.top-info-carousel .slick-dots #slick-slide12 button:after {
	visibility: visible;
	content: 'Nos équipes';
}

.top-info-carousel .slick-dots #slick-slide13 button {
	visibility: hidden;
}

.top-info-carousel .slick-dots #slick-slide13 button:after {
	visibility: visible;
	content: 'Nos espaces';
}

.top-info-carousel .slick-dots #slick-slide14 button {
	visibility: hidden;
	content: 'Groupe Sodexo';
}

.top-info-carousel .slick-dots #slick-slide14 button:after {
	visibility: visible;
	content: 'Groupe Sodexo';
}

.slick-initialized .slick-slide {
	display: flex;
}

.top-info-slide {
	padding-top: 160px;
	display: flex;
	flex-direction: row;
}

.top-info-slide img {
	height: 210px;
	width: 290px;
}

.custom-list {
	list-style-image: url('/assets/img/tiret-1.png');
	margin-top: 0;
}

.custom-list li {
	font-family: "rale";
	color: #004466;
	letter-spacing: 1px;
	font-size: 14px;
	margin-bottom: 15px;
	width: 380px;
	margin-bottom: 8px;
}

.custom-list li h1 {
	font-family: "house";
	font-size: 18px;
	font-weight: lighter;
	padding: 0;
	margin: 0;
}

.custom-list li p {
	margin: 0;
}

.middle-info {
	height: 748px;
	width: 870px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.middle-info-upper {
	text-align: center;
}

.middle-info-upper h1 {
	font-family: "house";
	font-size: 60px;
	font-weight: lighter;
	padding: 0;
	margin: 0;
	letter-spacing: 1px;
	color: #015078;
}

.middle-info-upper p {
	font-family: "sf";
	width: 518px;
	font-size: 14px;
	color: #004466;
}

.middle-info-p {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.middle-info-carousel {
	background-color: white;
	border-top: 1px solid #004466;
	border-bottom: 1px solid #004466;
}

.middle-info-carousel .slick-dots {
	list-style: none;
}

.middle-info-slide {
	padding: 20px;
}

.middle-info-left {
	width: 400px;
}

.middle-info-left h1 {
	font-family: "house";
	font-size: 24px;
	color: #D1423D;
}

.middle-info-left p {
	font-family: "rale";
	font-size: 14px;
	color: #004466;
}

.middle-info-left ul {
	list-style-image: url('/assets/img/bottom-carousel/etoile-puce-rouge.png');
}

.middle-info-left li {
	font-family: "rale";
	font-size: 14px;
	color: #004466;
	font-weight: 200;
}

.middle-info-left li:hover {
	color: #D1423D;
}

.middle-info-carousel .slick-dots {
	display: flex;
	list-style: none;
	width: 860px;
	margin: 0;
	padding: 0;
	top: 0;
	position: absolute;
}

.middle-info-carousel .slick-dots button {
	width: 172px;
	padding: 0;
	margin: 0;
	font-family: "sf";
	font-size: 30px;
	color: #004466;
}

.bottom-contact {
	height: 571px;
	background-color: silver;
}

.bottom-illustration {
	height: 635px;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	background-color: grey;
}

.bottom-menu {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.bottom-line {
	height: 80px;
	width: 100%;
	background-image: url("/assets/img/footer.jpg");
}