body {
	background-color: lightgrey;
}

.content {
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

.top-nav-div {
	height: 83px;
}

.top-nav-div ul {
	float: right;
	display: flex;
	flex-direction: row;
	list-style: none;
}

.slide {
	min-height: 513px;
	width: 1280px;
	background-color: white;
	position: relative;
	display: block;
}

.slide-son {
	/*position: absolute;
	height: 250px;
	bottom: 100px;*/
	left: 100px;
	border: 2px solid black;
}