@font-face {
	font-family: "sf";
	src: url("/assets/fonts/Dosis-SemiBold.ttf");
}

@font-face {
	font-family: "house";
	src: url("/assets/fonts/HouseARamaLeagueNight.ttf");
}

@font-face {
	font-family: "rale";
	src: url("/assets/fonts/Raleway-Regular.ttf");
}

body {
	margin: 0;
	background-color: #adaeb2;
}

.content {
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.logo {
	margin: 5px;
	margin-top: 8px;
	padding: 10px;
}

.top-nav {
	height: 83px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	margin-right: 155px;
	margin-left: 155px;
}

.main-menu {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

.main-menu a {
	color: #015078;
	padding-bottom: 2px;
}

.main-menu:hover .underline-main {
	visibility: visible;
}

.underline-main {
	visibility: hidden;
}

.main1 {
	width: 120px;
	height: 6px;
}

.main2 {
	width: 78px;
	height: 4px;
}

.main3 {
	width: 55px;
	height: 3px;
}

.top-nav ul {
	display: flex;
	flex-direction: row;
	list-style: none;
}

.top-nav li {
	margin: 5px;
	padding: 10px;
	float: right;
	letter-spacing: 1px;
}

.top-nav a {
	text-decoration: none;
	font-family: "sf";
	font-size: 16px;
}

.red-square {
	border: 2px solid #D1423D;
	border-radius: 5px;
	color: #D1423D;
	margin: 5px;
	padding: 10px;
}

.carousel-top, .top-info-carousel, .slider-nav-top, .middle-info-carousel, .slider-nav {
	visibility: hidden;
}

.slick-initialized {
	visibility: visible;
}

.carousel-top, .slick-track, .slick-list, .slick-slide, .slide {
	max-height: 410px;
}
.slide {
	width: 1280px;
	position: relative;
	display: block;
}

.slide img {
	max-height: 431px;
	max-width: 1280px;
}

.carousel-top .slick-slide {
	min-height: 513px;
}

.carousel-top .slick-dots {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 350px;
    left: 538px;
}

.carousel-top .slick-dots li button {
	background-color: transparent;
	background-image: url("../img/top-carousel/empty.png");
	background-repeat: no-repeat;
	border: 0px;
	text-indent: -9999px;
    overflow:hidden;
    margin: 2px;
}

.carousel-top .slick-dots .slick-active button {
	background-image: url("../img/top-carousel/full.png");
	background-repeat: no-repeat;
	border: 0,0,0,0;
}

.slide-son {
	position: absolute;
	height: 250px;
	width: 425px;
	bottom: 100px;
	left: 100px;
	padding: 20px 40px 40px 40px;
	color: white;
}

.slide-son-1 {
	background-image: url("../img/top-carousel/contour_texte_slide_1.png");
	background-repeat: no-repeat;
}

.slide-son-2 {
	background-image: url("../img/top-carousel/contour_texte_slide_2.png");
	background-repeat: no-repeat;
	width: 560px;
}

.slide-son-3 {
	background-image: url("../img/top-carousel/contour_texte_slide_3.png");
	background-repeat: no-repeat;
}

.slide-son-4 {
	background-image: url("../img/top-carousel/contour_texte_slide_4.png");
	background-repeat: no-repeat;
}

.slide-son-5 {
	background-image: url("../img/top-carousel/contour_texte_slide_5.png");
	background-repeat: no-repeat;
}

.slide-son h1 {
	font-family: "house";
	font-weight: lighter;
	font-size: 48px;
	margin: 0;
	padding: 0;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}

.slide-son p {
	font-family: "rale";
	width: 348px;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}

.slide-son img {
	z-index: 1000;
}

.slick-prev:after {
	content: "<i class="fa fa-chevron-right" aria-hidden="true"></i>";
}

.slick-next: before {
	content: "<i class="fa fa-chevron-left" aria-hidden="true"></i>";
}

.next-arrow {
	position: absolute;
	right: 37px;
	top: 192px;
	z-index: 1000;
}

.next-arrow, .prev-arrow, .slick-dots li button, .nav-top-slider p, .nav-slide {
	cursor: pointer;
}

.prev-arrow {
	position: absolute;
	left: 37px;
	top: 192px;
	z-index: 1000;
}

.top-info {
	background-image: url("/assets/img/background_bleu_clair.png");
	background-repeat: no-repeat;
	margin-bottom: 20px;
	height: 672px;
	padding-bottom: 54px;
}

.top-info-static {
	margin-left: 126px;
	margin-right: 126px;
	padding-top: 34px;
	text-align: center;
}

.top-info-static h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: "house";
	font-size: 48px;
	font-weight: lighter;
	color: #015078;
}

.top-info-static h1:nth-child(2n) {
	margin-top: -22px;
}

.top-info-static p {
	font-family: "rale";
	font-size: 13px;
	letter-spacing: 1px;
	width: 634px;
	color: #015078;
	font-weight: 500;
	margin-left: auto;
	margin-right: auto;
}

.splitter2 {
	display: none;
}

.top-info-carousel {
	width: 860px;
	height: 390px;
	margin-left: auto;
	margin-right: auto;
}

.slider-nav-top {
	margin-left: 210px;
	margin-right: 210px;
	text-align: center;
	color: #004466;
}

.nav-top-slider p {
	margin-right: 20px;
	width: 140px;
	font-family: "rale";
	font-size: 30px;
}

.nav-top-slider img {
	height: 75px;
	width: 4px;
	padding-top: 32px;
	padding-bottom: 20px;
}

.slider-nav-top .slick-current p {
	font-weight: bolder;
}

/*.top-info-carousel .slick-dots .slick-active button {
	font-weight: bold;
}

.top-info-carousel .slick-dots {
	display: flex;
	list-style: none;
	width: 860px;
	margin: 0;
	padding: 0;
	top: 0;
	position: absolute;
}

.top-info-carousel .slick-dots button {
	width: 172px;
	padding: 0;
	margin: 0;
	font-family: "rale";
	font-size: 30px;
	color: #004466;
	text-align: center;
}

.top-info-carousel .slick-dots #slick-slide10 button {
	visibility: hidden;
	background-image: url("/assets/img/separateur.png");
	background-repeat: no-repeat;
}

.top-info-carousel .slick-dots #slick-slide10 button:after {
	visibility: visible;
	content: 'Nos métiers';
}

.top-info-carousel .slick-dots #slick-slide11 button {
	visibility: hidden;
	background-image: url("/assets/img/separateur.png");
	background-repeat: no-repeat;
}

.top-info-carousel .slick-dots #slick-slide11 button:after {
	visibility: visible;
	content: 'Notre pédagogie';
}

.top-info-carousel .slick-dots #slick-slide12 button {
	visibility: hidden;
	background-image: url("/assets/img/separateur.png");
	background-repeat: no-repeat;
}

.top-info-carousel .slick-dots #slick-slide12 button:after {
	visibility: visible;
	content: 'Nos équipes';
}

.top-info-carousel .slick-dots #slick-slide13 button {
	visibility: hidden;
	background-image: url("/assets/img/separateur.png");
	background-repeat: no-repeat;
}

.top-info-carousel .slick-dots #slick-slide13 button:after {
	visibility: visible;
	content: 'Nos espaces';
}

.top-info-carousel .slick-dots #slick-slide14 button {
	visibility: hidden;
	background-image: url("/assets/img/separateur.png");
	background-repeat: no-repeat;
}

.top-info-carousel .slick-dots #slick-slide14 button:after {
	visibility: visible;
	content: 'Groupe Sodexo';
}*/

.slider-nav-top .slick-slide, .slick-initialized .slick-slide {
	display: flex;
}

.top-info-slide {
	display: flex;
	flex-direction: row;
}

.top-info-slide img {
	height: 210px;
	width: 290px;
	margin-right: 60px;
	margin-left: 50px;
}

.sodexo {
	display: flex;
	flex-direction: column;
	margin-right: 60px;
	margin-left: 50px;
}

.sodexo img {
	height: 42px;
	width: 130px;
}

.sodexo p {
	font-family: "rale";
	color: #004466;
	width: 256px;
}

.custom-list {
	list-style-image: url('/assets/img/tiret-1.png');
	margin-top: 0;
}

.custom-list li {
	font-family: "rale";
	color: #004466;
	letter-spacing: 1px;
	font-size: 14px;
	margin-bottom: 15px;
	width: 380px;
	margin-bottom: 8px;
}

.custom-list li h1 {
	font-family: "house";
	font-size: 18px;
	font-weight: lighter;
	padding: 0;
	margin: 0;
}

.custom-list li p {
	margin: 0;
}

.middle-info {
	height: 800px;
	width: 870px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.middle-info-upper {
	text-align: center;
}

.middle-info-upper h1 {
	font-family: "house";
	font-size: 60px;
	font-weight: lighter;
	padding: 0;
	margin: 0;
	letter-spacing: 1px;
	color: #015078;
}

.middle-info-upper p {
	font-family: "sf";
	letter-spacing: 1px;
	width: 518px;
	font-size: 14px;
	color: #004466;
}

.middle-info-p {
	margin-top: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.middle-info-carousel {
	background-color: white;
	border-top: 1px solid #004466;
	border-bottom: 1px solid #004466;
	padding-top: 15px;
	padding-bottom: 25px;
}

.middle-info-carousel .slick-dots {
	list-style: none;
}

.middle-info-slide {
	padding: 20px;
}

.middle-info-left {
	width: 400px;
}

.middle-info-left h1 {
	font-family: "house";
	font-size: 24px;
	font-weight: lighter;
	color: #D1423D;
}

.middle-info-left p {
	font-family: "rale";
	font-size: 14px;
	color: #004466;
}

.middle-info-left ul {
	list-style-image: url('/assets/img/bottom-carousel/etoile-puce-rouge.png');
}

.middle-info-left li {
	font-family: "rale";
	font-size: 14px;
	color: #004466;
	font-weight: 200;
}

.middle-info-left li:hover {
	color: #D1423D;
}

.slider-nav {
	margin: 10px;
}

.nav-slide img {
	margin-right: auto;
	margin-left: auto;
}

.nav-slide {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 174px;
	height: 155px;
}

.nav-slide p {
	font-family: "sf";
}

/*entreprises centres-c collec ecoles parents*/

.icon1 {
	background-image: url("/assets/img/bottom-carousel/picto_entreprises.png");
	background-repeat: no-repeat;
	background-position: bottom;
}

.slick-current .icon1 {
	background-image: url("/assets/img/bottom-carousel/picto_entreprises_2.png");
}

.icon2 {
	background-image: url("/assets/img/bottom-carousel/picto_centres_commerciaux.png");
	background-repeat: no-repeat;
	background-position: bottom;
}

.slick-current .icon2 {
	background-image: url(/assets/img/bottom-carousel/picto_centres_commerciaux_2.png);
}

.icon3 {
	background-image: url("/assets/img/bottom-carousel/picto_collectivites.png");
	background-repeat: no-repeat;
	background-position: bottom;
}

.slick-current .icon3 {
	background-image: url(/assets/img/bottom-carousel/picto_collectivites_2.png);
}

.icon4 {
	background-image: url("/assets/img/bottom-carousel/picto_ecoles.png");
	background-repeat: no-repeat;
	background-position: bottom;
}

.slick-current .icon4 {
	background-image: url(/assets/img/bottom-carousel/picto_ecoles_2.png);
}

.icon5 {
	background-image: url("/assets/img/bottom-carousel/picto_parents.png");
	background-repeat: no-repeat;
	background-position: bottom;
}

.slick-current .icon5 {
	background-image: url(/assets/img/bottom-carousel/picto_parents_2.png);
}

.nav-slide p {
	color: #004466;
}

.slick-current .icon-p {
	color: #D1423D;
}

.nav-slide-icon {
    width: 70px;
    height: 68px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.hidden-arrow {
	visibility: hidden;
}

.slick-current .hidden-arrow {
	visibility: visible;
}

.arrow1 {
	width: 15px;
	height: 32px;
}

.arrow2 {
	width: 10px;
	height: 28px;
}

.arrow3 {
	width: 10px;
	height: 26px;
}

.slick-track {
	padding-bottom: 10px;
}

.interaction-buttons {
	position: relative;
	display: flex;
	flex-direction: row;
	margin-top: -30px;
	z-index: 1000;
}

.contact-button {
	background-image: url("/assets/img/bottom-carousel/btn_contact.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 254px;
	height: 58px;
	margin-left: auto;
}

.contact-button:hover {
	background-image: url("/assets/img/bottom-carousel/btn_contact_rollover.png");
}

.activity-button {
	background-image: url("/assets/img/bottom-carousel/btn_activite.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 268px;
	height: 58px;
	margin-right: auto;
}

.activity-button:hover {
	background-image: url("/assets/img/bottom-carousel/btn_activite_rollover.png");
}

.bottom-contact {
	height: 571px;
	background-image: url("/assets/img/background_bleu_fonce.png");
	background-repeat: no-repeat;
	display: flex;
	flex-direction: row;
}

.bottom-contact-left {
	padding-left: 128px;
	padding-top: 68px;
}

.bottom-contact-left h1 {
	font-family: "house";
	font-size: 48px;
	font-weight: lighter;
	color: white;
	margin: 0;
}

.contact-underline {
	margin-top: -10px;
	margin-bottom: 15px;
}

.bottom-contact-left p {
	font-family: "rale";
	font-size: 14px;
	color: white;
	font-weight: lighter;
	margin: 0;
	width: 525px;
	letter-spacing: 1px;
}

.bottom-contact-left .p-margin {
	margin-bottom: 81px;
}

.kids_illu_2 {
	display: none;
}

.illu {
	margin-top: 50px;
}

.write-us-button {
	position: relative;
	background-image: url("/assets/img/btn_ecrivez_nous.png");
	background-repeat: no-repeat;
	z-index: 1000;
	width: 280px;
	height: 80px;
	bottom: 126px;
	left: 80px;
}

.write-us-button:hover {
	background-image: url("/assets/img/btn_ecrivez_nous_rollover.png");
}

.bottom-illustration {
	height: 635px;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.bottom-illu-2 {
	display: none;
}

.bottom-menu {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 5px;
}

.bottom-menu a {
	font-family: "sf";
	color: #015078;
	text-decoration: none;
}

.bottom-menu p {
	margin: 0;
}

.bottom-line {
	height: 80px;
	width: 100%;
	background-image: url("/assets/img/footer.jpg");
	background-repeat: repeat;
	background-size: cover;
}

.slider-nav-2 {
	display: none;
	-webkit-appearance: none; 
    -moz-appearance: none;
    background-image: url("/assets/img/responsive/btn2.png");
    border: 0;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    width: 266px;
    height: 60px;
}

.slider-nav-top-2 {
	display: none;
	-webkit-appearance: none; 
    -moz-appearance: none;
    background-image: url("/assets/img/responsive/btn1.png");
    border: 0;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    width: 266px;
    height: 60px;
}

.slider-nav-top-2, .slider-nav-2 {
	font-family: "sf";
	letter-spacing: 1px;
	font-size: 17px;
	padding-left: 40px;
	margin-left: auto;
	margin-right: auto;
}

.slider-nav-top-2 {
	color: #004466;
}

.slider-nav-2 {
	color: #D1423D;
	padding-left: 20px;
}

.slider-nav-top-2 option. .slider-nav-2 option {
	font-family: "sf";
	letter-spacing: 1px;
	font-size: 17px;
	border: 0;
	background-color: #E4E9F6;
}

.slider-nav-top-2 option {
	color: #004466;
}

.slider-nav-2 option {
	color: #D1423D;
}

.dropdown1 {
	display: none;
	position: relative;
	left: 270px;
	bottom: 40px;
}

.dropdown2 {
	display: none;
	position: relative;
	left: 270px;
	bottom: 40px;
}

.dropdown-resp-button {
	position: absolute;
	top: 28px;
	right: 28px;
	width: 50px;
	height: 30px;
	background-image: url("/assets/img/responsive/dropdown.png");
	background-repeat: no-repeat;
	background-position: center;
}

.dropdown-resp-button:hover {
	cursor: pointer;
}

.dropdown-resp-button {
	display: none;
}

.dropdown-resp {
	position: absolute;
	top: 83px;
	left: 0;
	right: 0;
	height: 514px;
	width: 100%;
	z-index: 1000;
	background-color: rgba(255,2555,255,0.9);
}

.dropdown-resp ul {
	padding-left: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
	margin-bottom: 35px;
	text-align: center;
}

.dropdown-resp li {
	list-style: none;
	margin-bottom: 70px;
}

.dropdown-resp a {
	text-decoration: none;
	font-family: "rale";
	font-size: 24px;
	color: #004466;
}

.none {
	display: none;
}

.slick-slide .resp-arrow {
	display: none;
}

.dropdown-resp .red {
	border: 2px solid #D1423D;
	border-radius: 5px;
	color: #D1423D;
	padding: 10px;
}

.quote1 {
	background-image: url("/assets/img/bottom-carousel/quote1.png");
	background-repeat: no-repeat;
	background-position: bottom;
	width: 34px;
	height: 70px;
	margin-left: 140px;
}

.quote2 {
	background-image: url("/assets/img/bottom-carousel/quote2.png");
	background-repeat: no-repeat;
	background-position: top;
	width: 34px;
	height: 70px;
	margin-right: 140px;
}

.upper-quote {
	display: flex;
	flex-direction: row;
	margin-top: 35px;
	margin-bottom: 35px;
}

.resp-p {
	display: none;
}