@font-face {
	font-family: "sf";
	src: url("../fonts/Dosis-SemiBold.ttf");
}

@font-face {
	font-family: "house";
	src: url("../fonts/HouseARamaLeagueNight.ttf");
}

@font-face {
	font-family: "rale";
	src: url("../fonts/Raleway-Regular.ttf");
}

body {
	margin: 0;
}

.content {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(254,254,254);
}

.logo {
	margin: 5px;
	margin-top: 8px;
	padding-left: 30px;
	padding-right: 10px;
}

.top-nav {
	height: 83px;
	display: flex;
	justify-content: space-between;
	padding-left: 9%;
	position: fixed;
	top: 0;
	background-color: rgb(254,254,254);
	z-index: 2000;
	width: 100%;
	box-shadow: 0px 4px 8px grey;
}

.top-filler {
	height: 83px;
}

@media screen and (max-width: 980px) {
	.top-nav {
		margin-left: 0;
		margin-right: 0;
	}
}

.main-menu {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

.main-menu a {
	color: #015078;
	padding-bottom: 2px;
}

.main-menu:hover .underline-main {
	visibility: visible;
}

.underline-main {
	visibility: hidden;
}

.main1 {
	width: 120px;
	height: 6px;
}

.main2 {
	width: 78px;
	height: 4px;
}

.main3 {
	width: 55px;
	height: 3px;
}

.top-nav ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin-left: 24%;
	padding-right: 20%;
	min-width: 585px;
}

.top-nav li {
	margin: 5px;
	padding: 10px;
	float: right;
	letter-spacing: 1px;
}

@media screen and (max-width: 810px) {
	.top-nav li {
		padding-left: 0;
		padding-right: 0;
	}
}

.top-nav a {
	text-decoration: none;
	font-family: "sf";
	font-size: 16px;
}

.red-square {
	border: 2px solid #D1423D;
	border-radius: 5px;
	color: #D1423D;
	margin: 5px;
	padding: 10px;
}

.carousel-top {
	width: 100%;
	height: 35vw;
}

.carousel-top .top-img {
	-webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}

.carousel-top, .top-info-carousel, .slider-nav-top, .middle-info-carousel, .slider-nav {
	visibility: hidden;
}

.slick-initialized {
	visibility: visible;
}

.carousel-top, .slick-track, .slick-list, .slick-slide, .slide {
	max-height: 530px;
}
.slide {
	position: relative;
	display: block;
	height: 35vw;
}

.slide img {
	min-width: 100%;
	height: 35vw;
	overflow: auto;
}

.slick-track {
	min-width: 820px;
}

.carousel-top .slick-slide {
	min-height: 513px;
}

.carousel-top .slick-dots {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 150px;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, 0);
}

@media screen and (max-width: 880px) {
	.carousel-top .slick-dots {
		bottom: -14px;
	}
}

.carousel-top .slick-dots li button {
	background-color: transparent;
	background-image: url("../img/top-carousel/empty.png");
	background-repeat: no-repeat;
	border: 0px;
	text-indent: -9999px;
    overflow:hidden;
    margin: 2px;
    width: 20px;
}

.carousel-top .slick-dots .slick-active button {
	background-image: url("../img/top-carousel/full.png");
	background-repeat: no-repeat;
	border: 0,0,0,0;
}

.slide-son {
	position: absolute;
	height: 250px;
	width: 425px;
	top: 24%;
	left: 8%;
	padding: 20px 40px 40px 40px;
	color: white;
}

@media screen and (max-width: 1200px) {
	.slide-son {
		top: 15%;
		left: 8%;
	}
}

@media screen and (max-width: 1080px) {
	.slide-son {
		top: 10%;
		left: 8%;
	}
}

.slide-son-1 {
	background-image: url("../img/top-carousel/contour_texte_slide_1.png");
	background-repeat: no-repeat;
}

.slide-son-2 {
	background-image: url("../img/top-carousel/contour_texte_slide_2.png");
	background-repeat: no-repeat;
	width: 560px;
}

.slide-son-3 {
	background-image: url("../img/top-carousel/contour_texte_slide_3.png");
	background-repeat: no-repeat;
}

.slide-son-3 p {
	margin-top: 14px;
}

.slide-son-4 {
	background-image: url("../img/top-carousel/contour_texte_slide_4.png");
	background-repeat: no-repeat;
}

.slide-son-5 {
	background-image: url("../img/top-carousel/contour_texte_slide_5.png");
	background-repeat: no-repeat;
}

.slide-son h2 {
	font-family: "house";
	font-weight: lighter;
	font-size: 48px;
	margin: 0;
	padding: 0;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}

.slide-son p {
	font-family: "rale";
	width: 348px;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}

.slide-son img {
	z-index: 1000;
}

.slick-prev:after {
	content: "<i class="fa fa-chevron-right" aria-hidden="true"></i>";
}

.slick-next: before {
	content: "<i class="fa fa-chevron-left" aria-hidden="true"></i>";
}

.next-arrow {
	position: absolute;
	right: 37px;
	top: 50%;
	z-index: 1000;
}

.next-arrow, .prev-arrow, .slick-dots li button, .nav-top-slider p, .nav-slide {
	cursor: pointer;
}

.prev-arrow {
	position: absolute;
	left: 37px;
	top: 50%;
	z-index: 1000;
}

.top-info {
	background-image: url("../img/background_bleu_clair.png");
	background-size: cover;
	background-position: 1px -90px;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	height: 780px;
	padding-bottom: 54px;
}

@media screen and (max-width: 1420px) {
	.top-info {
		height: 710px;
		background-position: 0px -45px;
	}
}

@media screen and (max-width: 1330px) {
	.top-info {
		height: 750px;
		background-position: 0px 0px;
	}
}

@media screen and (max-width: 1200px) {
	.top-info {
		height: 670px;
		background-position: 0px 0px;
	}
}

.top-info-static {
	margin-left: 126px;
	margin-right: 126px;
	padding-top: 34px;
	text-align: left;
}

.top-info-static h1 {
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
	font-family: "house";
	font-size: 48px;
	font-weight: lighter;
	color: #015078;
	max-width: 872px;
}

@media screen and (max-width: 1028px){
	.top-info-static h1 {
		font-size: 30px;
		line-height: 55px;
	}
	.top-info {
		height: 630px;
	}
}

.top-info-static h1:nth-child(2n) {
	margin-top: -22px;
}

.top-info-static p {
	font-family: "rale";
	font-size: 15px;
	letter-spacing: 1px;
	width: 634px;
	color: #015078;
	font-weight: 500;
	margin-top: 1%;
	margin-bottom: 3%;
}

.splitter1 {
	width: 75%;
	min-width: 510px;
	text-align: left;
}

.splitter2 {
	display: none;
}

.top-info-carousel {
	width: 860px;
	height: 390px;
	margin-left: auto;
	margin-right: auto;
}

.slider-nav-top {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	text-align: center;
	color: #004466;
	max-width: 870px;
}

.nav-top-slider {
	max-width: 180px;
}

.nav-top-slider p {
	margin-right: 20px;
	max-width: 140px;
	font-family: "rale";
	font-size: 28px;
}

.nav-top-slider img {
	height: 75px;
	width: 4px;
	padding-top: 32px;
	padding-bottom: 20px;
}

.slider-nav-top .slick-current p {
	font-weight: bolder;
}

.slider-nav-top .slick-slide, .slick-initialized .slick-slide {
	display: flex;
}

.top-info-slide {
	display: flex;
	flex-direction: row;
}

.top-info-slide img {
	height: 210px;
	width: 290px;
	margin-right: 60px;
	margin-left: 50px;
}

.sodexo {
	display: flex;
	flex-direction: column;
	margin-right: 60px;
	margin-left: 50px;
}

.sodexo img {
	height: 42px;
	width: 130px;
}

.sodexo p {
	font-family: "rale";
	color: #004466;
	width: 256px;
}

.custom-list {
	list-style-image: url('../img/tiret-1.png');
	margin-top: 5px;
	padding-left: 15px;
}

.custom-list li {
	font-family: "rale";
	color: #004466;
	letter-spacing: 1px;
	font-size: 14px;
	margin-bottom: 15px;
	width: 380px;
	margin-bottom: 8px;
}

.custom-list li h2 {
	font-family: "house";
	font-size: 24px;
	font-weight: lighter;
	padding: 0;
	margin: 0;
}

.custom-list li p {
	margin: 0;
}

.middle-info {
	height: 890px;
	max-width: 820px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(254,254,254);
}

.middle-info-upper {
	text-align: center;
}

.middle-info-upper img {
	max-width: 740px;
}

.middle-info-upper h2 {
	font-family: "house";
	font-size: 56px;
	font-weight: lighter;
	padding: 0;
	margin: 0;
	letter-spacing: 1px;
	color: #015078;
}

.middle-info-upper p {
	font-family: "sf";
	letter-spacing: 1px;
	width: 518px;
	font-size: 17px;
	color: #004466;
}

.middle-info-p {
	margin-top: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.middle-info-carousel {
	background-color: rgb(254,254,254);
	border-top: 1px solid #004466;
	border-bottom: 1px solid #004466;
	padding-top: 15px;
	padding-bottom: 25px;
}

.middle-info-carousel .slick-dots {
	list-style: none;
}

.middle-info-slide {
	padding: 20px;
	max-width: 820px;
}

.middle-info-left {
	width: 400px;
}

.middle-info-left h2 {
	font-family: "house";
	font-size: 30px;
	font-weight: lighter;
	color: #D1423D;
}

.middle-info-left p {
	letter-spacing: 1px;
	line-height: 20px;
	font-family: "rale";
	font-size: 14px;
	color: #004466;
}

.middle-info-left ul {
	list-style-image: url('../img/bottom-carousel/etoile-puce-rouge.png');
}

.middle-info-left li {
	letter-spacing: 1px;
	font-family: "rale";
	font-size: 14px;
	color: #004466;
	font-weight: 200;
	margin-bottom: 10px;
}

.square-highlight a{
	color: #004466;
	text-decoration: none;
}

.square-highlight {
	background-image: url("../img/download_picto.png");
	background-repeat: no-repeat;
	background-position: right;
}

.square-highlight:hover {
	background-image: url("../img/download_picto_rollover.png");
	background-repeat: no-repeat;
	background-position: right;
}

.square-highlight:hover a {
	color: #D1423D;
}

.slider-nav {
	margin: 10px;
	max-width: 840px;
	display: flex;
}

.nav-slide img {
	margin-right: auto;
	margin-left: auto;
}

.nav-slide {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 162px;
	height: 155px;
	margin-top: auto;
}

.slick-current:focus {
	outline: 0;
}

.nav-slide p {
	font-family: "sf";
	line-height: 12px;
	min-width: 162px;
}

.icon1 {
	background-image: url("../img/bottom-carousel/picto_entreprises.png");
	background-repeat: no-repeat;
	background-position: bottom;
}

.slick-current .icon1 {
	background-image: url("../img/bottom-carousel/picto_entreprises_2.png");
}

.icon2 {
	background-image: url("../img/bottom-carousel/picto_centres_commerciaux.png");
	background-repeat: no-repeat;
	background-position: bottom;
}

.slick-current .icon2 {
	background-image: url(../img/bottom-carousel/picto_centres_commerciaux_2.png);
}

.icon3 {
	background-image: url("../img/bottom-carousel/picto_collectivites.png");
	background-repeat: no-repeat;
	background-position: bottom;
}

.slick-current .icon3 {
	background-image: url(../img/bottom-carousel/picto_collectivites_2.png);
}

.icon4 {
	background-image: url("../img/bottom-carousel/picto_ecoles.png");
	background-repeat: no-repeat;
	background-position: bottom;
}

.slick-current .icon4 {
	background-image: url(../img/bottom-carousel/picto_ecoles_2.png);
}

.icon5 {
	background-image: url("../img/bottom-carousel/picto_parents.png");
	background-repeat: no-repeat;
	background-position: bottom;
}

.slick-current .icon5 {
	background-image: url(../img/bottom-carousel/picto_parents_2.png);
}

.nav-slide p {
	color: #004466;
}

.slick-current .icon-p {
	color: #D1423D;
}

.nav-slide-icon {
    width: 70px;
    height: 68px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-position: bottom;
}

.hidden-arrow {
	visibility: hidden;
}

.slick-current .hidden-arrow {
	visibility: visible;
}

.arrow1 {
	width: 15px;
	height: 32px;
}

.arrow2 {
	width: 10px;
	height: 28px;
}

.arrow3 {
	width: 10px;
	height: 26px;
}

.interaction-buttons {
	position: relative;
	display: flex;
	flex-direction: row;
	max-width: 514px;
	margin: 0 auto;
	margin-top: -30px;
	z-index: 1000;
}

.contact-button {
	background-image: url("../img/bottom-carousel/btn_contact.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 254px;
	height: 58px;
	margin-left: auto;
}

.contact-button:hover {
	background-image: url("../img/bottom-carousel/btn_contact_rollover.png");
}

.activity-button {
	background-image: url("../img/bottom-carousel/btn_activite.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 268px;
	height: 58px;
	margin-right: auto;
}

.activity-button:hover {
	background-image: url("../img/bottom-carousel/btn_activite_rollover.png");
}

.bottom-contact {
	margin-top: 30px;
	height: 725px;
	background-image: url("../img/background_bleu_fonce.png");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: row;
}

.bottom-contact-left {
	padding-left: 128px;
	padding-top: 68px;
	margin-left: auto;
}

.bottom-contact-right {
	margin-right: auto;
}

.bottom-contact-left h2 {
	font-family: "house";
	font-size: 48px;
	font-weight: lighter;
	color: white;
	margin: 0;
}

.contact-underline {
	margin-top: -10px;
	margin-bottom: 15px;
}

.bottom-contact-left p {
	font-family: "rale";
	font-size: 14px;
	color: white;
	font-weight: lighter;
	margin: 0;
	width: 525px;
	letter-spacing: 1px;
}

.bottom-contact-left .p-margin {
	margin-bottom: 81px;
}

.kids_illu_2 {
	display: none;
}

.illu {
	margin-top: 50px;
	width: 100%;
	padding-right: 10px;
}

.write-us-button {
	position: relative;
	background-image: url("../img/btn_ecrivez_nous.png");
	background-repeat: no-repeat;
	z-index: 1000;
	width: 280px;
	height: 80px;
	bottom: 126px;
	left: 80px;
}

.write-us-button:hover {
	background-image: url("../img/btn_ecrivez_nous_rollover.png");
}

.bottom-illustration {
	height: 635px;
	width: 100%;
	max-width: 1068px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(254,254,254);
}

.bottom-illu {
	width: 100%;
	max-width: 1068px;
	margin-left: auto;
	margin-right: auto;
}

.bottom-menu {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 20px;
}

.bottom-menu a {
	font-family: "sf";
	color: #015078;
	text-decoration: none;
}

.bottom-menu p {
	margin: 0;
}

.bottom-line {
	height: 80px;
	width: 100%;
	background-image: url("../img/footer.jpg");
	background-repeat: repeat;
	background-size: cover;
}

.slider-nav-2 {
	display: none;
	-webkit-appearance: none; 
    -moz-appearance: none;
    background-image: url("../img/responsive/btn2.png");
    border: 0;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    width: 266px;
    height: 60px;
}

.slider-nav-top-2 {
	display: none;
	-webkit-appearance: none; 
    -moz-appearance: none;
    background-image: url("../img/responsive/btn1.png");
    border: 0;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 266px;
    height: 60px;
}

.slider-nav-top-2, .slider-nav-2 {
	font-family: "sf";
	letter-spacing: 1px;
	font-size: 17px;
	padding-left: 40px;
	margin-left: auto;
	margin-right: auto;
}

.slider-nav-top-2 {
	color: #004466;
}

.slider-nav-2 {
	color: #D1423D;
	padding-left: 20px;
}

.slider-nav-top-2 option. .slider-nav-2 option {
	font-family: "sf";
	letter-spacing: 1px;
	font-size: 17px;
	border: 0;
	background-color: #E4E9F6;
}

.slider-nav-top-2 option {
	color: #004466;
}

.slider-nav-2 option {
	color: #D1423D;
}

.dropdown1 {
	display: none;
	position: relative;
	left: 60%;
	bottom: 50px;
	pointer-events: none;
}

.dropdown2 {
	display: none;
	position: relative;
	left: 63%;
	bottom: 36px;
	pointer-events: none;
}

.dropdown-resp-button {
	position: absolute;
	top: 28px;
	right: 28px;
	width: 50px;
	height: 30px;
	background-image: url("../img/responsive/dropdown.png");
	background-repeat: no-repeat;
	background-position: center;
}

.dropdown-resp-button:hover {
	cursor: pointer;
}

.dropdown-resp-button {
	display: none;
}

.dropdown-resp {
	position: absolute;
	top: 83px;
	left: 0;
	right: 0;
	height: 514px;
	width: 100%;
	z-index: 1000;
	display:none;
	background-color: rgba(255,2555,255,0.9);
}

.dropdown-resp ul {
	padding-left: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
	margin-bottom: 35px;
	text-align: center;
}

.dropdown-resp li {
	list-style: none;
	margin-bottom: 70px;
}

.dropdown-resp a {
	text-decoration: none;
	font-family: "rale";
	font-size: 24px;
	color: #004466;
}

.none {
	display: none;
}

.slick-slide .resp-arrow {
	display: none;
}

.dropdown-resp .red {
	border: 2px solid #D1423D;
	border-radius: 5px;
	color: #D1423D;
	padding: 10px;
}

.quote1 {
	background-image: url("../img/bottom-carousel/quote1.png");
	background-repeat: no-repeat;
	background-position: bottom;
	width: 34px;
	height: 70px;
	margin-left: 140px;
}

.quote2 {
	background-image: url("../img/bottom-carousel/quote2.png");
	background-repeat: no-repeat;
	background-position: top;
	width: 34px;
	height: 70px;
	margin-right: 140px;
}

.upper-quote {
	display: flex;
	flex-direction: row;
	margin-top: 35px;
	margin-bottom: 35px;
}

.resp-p {
	display: none;
}

.top-info-container {
	display: flex;
}

.deco-left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: auto;
	position: relative;
	top: -150px;
}

.deco-left1 {
	background-image: url("../img/middle-carousel/decor_1.png");
	background-repeat: no-repeat;
	background-position: top;
	width: 175px;
	height: 175px;
}

.deco-left2 {
	background-image: url("../img/middle-carousel/decor_2.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 175px;
	height: 175px;
}

.deco-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: auto;
	position: relative;
	top: -150px;
}

.deco-right1 {
	background-image: url("../img/middle-carousel/decor_3.png");
	background-repeat: no-repeat;
	background-position: top;
	width: 175px;
	height: 175px;
}

.deco-right2 {
	background-image: url("../img/middle-carousel/decor_4.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 175px;
	height: 175px;
}

.preloader {
	position: fixed;
	top: 0;
  	background: url("../img/bottom-carousel/picto_collectivites_2.png") no-repeat -9999px -9999px,
  	url("../img/bottom-carousel/picto_centres_commerciaux_2.png") no-repeat -9999px -9999px,
    url("../img/bottom-carousel/picto_ecoles_2.png") no-repeat -9999px -9999px,
    url("../img/bottom-carousel/picto_entreprises_2.png") no-repeat -9999px -9999px,
    url("../img/bottom-carousel/picto_parents_2.png") no-repeat -9999px -9999px,
    url("../img/bottom-carousel/btn_contact_rollover.png") no-repeat -9999px -9999px,
    url("../img/bottom-carousel/btn_activite_rollover.png") no-repeat -9999px -9999px,
    url("../img/btn_ecrivez_nous_rollover.png") no-repeat -9999px -9999px,
    url("../img/btn_ecrivez_nous.png") no-repeat -9999px -9999px;
}

.preloaded {
	position: fixed;
	bottom: 0px;
	right: 0px;
	-webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    visibility: hidden;
}

@media screen and (max-width: 1100px) {
	.decor-img {
		display: none;
	}
}

.middle-info-carousel .slick-slide .middle-info-img {
	margin-left: 20px;
	height: 230px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 1010px){
	.slider-nav-top-2 {
		display: block;
	}
	.slider-nav-top {
		display: none;
	}
	.dropdown1 {
		display: block;
	}
	.top-info {
		height: 580px;
	}
}

@media screen and (max-width: 820px) {
	.custom-list p, .custom-list li {
		width: 300px;
	}
	.top-info {
		height: 600px;
	}
}

@media screen and (max-width: 1180px) {
	.bottom-contact {
		flex-direction: column;
	}
	.illu {
		display: none;
	}
	.bottom-contact-left {
		margin-left: 5%;
		margin-right: auto;
	}
	.write-us {
		position: relative;
		top: -20%;
		right: -182%;
	}
}

@media screen and (max-width: 874px){
	.slider-nav-2 {
		display: block;
	}

	.slider-nav {
		display: none;
	}

	.dropdown2 {
		display: block;
	}
	.middle-info-upper h2 {
		font-size: 50px;
	}
	.middle-info {
		height: 690px;
	}
	.write-us {
		position: initial;
	}
	.write-us-button {
		background-position: center;
		margin-top: 20px;
		margin-left: -35%;
		bottom: 0;
		top: 0;
	}
	.bottom-contact-right {	
		margin-left: auto;
		margin-right: auto;
	}
}

/*@media screen and (max-width: 875px){
	.slider-nav {
		display: block;
	}
}*/

@media screen and (max-width: 1200px) {
	.nav-top-slider p {
		margin-left: 5px;
		font-size: 20px;
		width: 110px;
	}

	.nav-top-slider img {
		height: 30px;
	}
	.deco-right, .deco-left {
		display: none;
	}
}

@media screen and (max-width: 400px) {
	.dropdown1, .dropdown2 {
		display: block;
		left: 76%;
	}
}

@media screen and (max-width: 1315px) {
	.top-nav {
		justify-content: space-around;
	}

	.top-nav ul {
		margin-left: 20%;
	}
}

@media screen and (max-width: 1050px) {
	.top-nav ul {
		margin-left: 10%;
	}
}

@media screen and (max-width: 940px) {
	.top-nav ul {
		margin-left: 5%;
	}
}

@media screen and (max-width: 890px) {
	.logo {
		margin-left: 80px;
	}
}

@media screen and (max-width: 890px) {
	.top-nav ul {
		margin-right: 8%;
	}
}

@media screen and (max-width: 870px) {
	.top-nav ul {
		margin-right: 4%;
		margin-left: 0;
		padding-left: 0;
	}
	.top-nav {
		padding-left: 50px;
	}
}

@media screen and (max-width: 820px) {
	.top-nav ul {
		margin-right: 0;
		margin-left: 0;
		padding-left: 0;
	}
}

@media screen and (max-width: 736px) {
	.logo {
		margin-left: 0px;
	}

	.top-nav {
		justify-content: space-between;
		padding-left: 0;
	}

	.top-nav ul {
		margin-right: 0;
	}
	.top-nav ul {
		margin-left: 0;
		min-width: 55px;
		padding-right: 0;
	}
}

.write-us-button a {
	max-height: 57px;
	max-width: 252px;
}

.other-pages {
	padding-left: 20%;
	padding-right: 20%;
}

.other-pages p {
	font-family: "rale";
	color: #015078;
}

.top-nav .unique {
	margin-left: 300px;
}

.other-pages .other-pages-special {
	font-family: "sf";
	letter-spacing: 1px;
	color: #015078;
}

#about, #offers, #contact {
	display: block;
    position: relative;
    visibility: hidden;
}

#about {
	top: -82px;
}

#offers {
	top: -110px;
}

#contact {
	top: -20px;
}

@media screen and (max-width: 736px) {
	#about {
		top: 45px;
	}
	#offers {
		top: -20px;
	}
	#contact {
		top: 360px;
	}
}