<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="content">
	  <div class="top-nav">
	  	<div class="logo"><img src="assets/img/logo.png"></div>
	  	<ul>
	  		<li class="main-menu"><a href="#about">Qui sommes-nous ?</a><img class="underline-main main1" src="assets/img/traits-menu.png"></li>
	  		<li class="main-menu"><a href="#offers">Nos offres</a><img class="underline-main main2" src="assets/img/traits-menu.png"></li>
	  		<li class="main-menu"><a href="#contact">Contact</a><img class="underline-main main3" src="assets/img/traits-menu.png"></li>
	  		<li><a class="red-square" href="#activity">Réserver une activité</a></li>
	  	</ul>
	  </div>
	  <div class="carousel-top">
	  	<div class="slide slide1">
	  	<img src="assets/img/top-carousel/visuel_1.jpg">
	  		<div class="slide-son slide-son-1">
	  			<h1>Pour les Entreprises</h1>
	  			<p>Nos solutions sur-mesure pour simplifier le quotidien de vos salariés-parents : Journées parentalité, stages vacances,…</p>
	  		</div>
	  	</div>
	  	<div class="slide slide2">
	  	<img src="assets/img/top-carousel/visuel_2.jpg">
	  		<div class="slide-son slide-son-2">
	  			<h1>Pour les Centres Commerciaux</h1>
	  			<p>Nos espaces enfants pour permettre à vos clients de shopper librement : animations permanentes ou évènementielles.</p>
	  		</div>
	  	</div>
	  	<div class="slide slide3">
	  	<img src="assets/img/top-carousel/visuel_3.jpg">
	  		<div class="slide-son slide-son-3">
	  			<h1>Pour les Collectivités</h1>
	  			<p>Nos solutions d’accompagnement pour la gestion de vos activités péri et extrascolaires : recrutement, audit, coordination pédagogique,…</p>
	  		</div>
	  	</div>
	  	<div class="slide slide4">
	  	<img src="assets/img/top-carousel/visuel_4.jpg">
	  		<div class="slide-son slide-son-4">
	  			<h1>Pour les Écoles</h1>
	  			<p>Nos ateliers ludo-éducatifs pour compléter votre offre périscolaire : Théâtre, Autour de l’alimentation, Les petits scientifiques,…</p>
	  		</div>
	  	</div>
	  	<div class="slide slide5">
	  	<img src="assets/img/top-carousel/visuel_5.jpg">
	  		<div class="slide-son slide-son-5">
	  			<h1>Pour les Parents</h1>
	  			<p>Nos activités d’éveil et de loisirs pour vos enfants de 0 à 12 ans : Anniversaires, stages vacances, ateliers hebdomadaires (Initiation à l’anglais, au cirque, …</p>
	  		</div>
	  	</div>
	  </div>
	  <div class="top-info">
	  	<div class="slider-top-nav"></div>
	  	<div id="about" class="top-info-static">
	  		<h1>Kids attitude, spécialiste des activités</h1>
	  		<h1>ludo-éducatives pour les enfants de 4 à 12 ans</h1>
	  		<img class="splitter1" src="assets/img/trait_titre_1.png">
	  		<img class="splitter2" src="assets/img/responsive/trait_titre_thick.png">
	  		<p>Kids Attitude est l'un des premiers gestionnaires d'espaces de loisirs pour les entreprises et centres commerciaux. Nous développons également des services d'accompagnement des collectivités et écoles dans leurs activités péri et extrascolaires.</p>
	  	</div>
	  	<div class="top-carousel-container">
	  		<div class="slider-nav-top">
				<div class="nav-top-slider">
					<p>Nos métiers</p>
					<img src="assets/img/separateur.png"></div>
				<div class="nav-top-slider">
					<p>Notre pédagogie</p>
					<img src="assets/img/separateur.png"></div>
				<div class="nav-top-slider">
					<p>Nos équipes</p>
					<img src="assets/img/separateur.png"></div>
				<div class="nav-top-slider">
					<p>Nos espaces</p>
					<img src="assets/img/separateur.png"></div>
				<div class="nav-top-slider">
					<p>Groupe Sodexo</p>
					</div>
	  		</div>
	  		<div class="top-info-carousel">
	  			<div class="top-info-slide">
	  				<img src="assets/img/middle-carousel/visuel_nos_metiers.jpg">
	  				<ul class="custom-list">
	  					<li>Création et gestion d’espaces de loisirs durables ou éphémères</li>
	  					<li>Accompagnement des acteurs publics et privés dans leurs activités péri et extrascolaires</li>
	  					<li>Soutien à la parentalité : stages vacances, Familydays,…</li>
	  				</ul>
	  			</div>
	  			<div class="top-info-slide">
	  				<img src="assets/img/middle-carousel/visuel_notre_peda.jpg">
	  				<ul class="custom-list">
	  					<li><h1>Notre mission éducative :</h1>
	  					<p>Préparer chaque enfant à devenir un citoyen du Monde à travers deux notions fondamentales, l’Eveil à la citoyenneté (respect de soi et de l’autre, apprentissage de la collectivité, …) et l’ouverture sur le Monde (Eveil des sens, découverte de la diversité, …)</p></li>
	  					<li><h1>Nos valeurs éducatives :</h1><p>Bienveillance, plaisir, confiance et ouverture.</p></li>
	  					<li><h1>Notre devise :</h1><p>S’amuser, S’éveiller, Bien grandir</p></li>
	  				</ul>
	  			</div>
	  			<div class="top-info-slide">
	  				<img src="assets/img/middle-carousel/visuel_nos_equipes.jpg">
	  				<ul class="custom-list">
	  					<li>Des professionnels de l’Animation formés à notre pédagogie.</li>
	  				<li>Des taux d’encadrement supérieurs à la réglementation en vigueur.</li>
	  				<li>De nombreux intervenants spécialisés pour nos activités spécifiques (Psychomotriciennes, professeurs, conférenciers, …)</li>
	  				</ul>
	  			</div>
	  			<div class="top-info-slide">
	  				<img src="assets/img/middle-carousel/visuel_nos_espaces.jpg">
	  				<ul class="custom-list">
	  					<li>Des espaces permanents ou éphémères conçus sur-mesure pour nos clients, répondant à la réglementation en vigueur</li>
	  					<li>Un environnement chaleureux et sécurisé, adapté aux besoins des enfants</li>
	  					<li>Des outils de gestion spécifiques pour garantir un accueil en toute sécurité</li>
	  				</ul>
	  			</div>
	  			<div class="top-info-slide">
	  				<div class="sodexo"><img src="assets/img/middle-carousel/logo_sodexo.png"><p>Kids Attitude appartient au Groupe Sodexo, leader mondial des services de Qualité de Vie dans 3 domaines :</p></div>
	  				<ul class="custom-list">
	  					<li><h1>Services sur site :</h1>
	  					<p>(Restauration, accueil, propreté, espace verts, maintenance, ...)</p></li>
	  					<li><h1>Services avantages et récompenses :</h1><p>Solution Rh, programmes d’Incentive, activités sociales et culturelles, aides publiques</p></li>
	  					<li><h1>Services aux particuliers et à domicile :</h1><p>Conciergerie d’entreprise, crèches et espaces de loisirs, aide à domicile</p></li>
	  				</ul>
	  			</div>
	  		</div>
	  		<img src="">
	  	</div>
	  </div>
	  <div id="offers" class="middle-info">
	  <div class="middle-info-upper">
	  	<h1>Kids Attitude, vos solutions clé en main</h1>
	  	<img src="/assets/img/trait_titre_1.png">
	  	<p class="middle-info-p">Kids Attitude développe et exploite une offre multi-services de solutions d’accueil de loisirs sur-mesure pour ses clients.</p>
	  </div>
	  	<div class="slider-nav">
	  		<div class="nav-slide nav-slide1">
	  			<div class="nav-slide-icon icon1"></div>
	  			<p class="icon-p">Les entreprises</p>
	  			<img class="hidden-arrow arrow1" src="assets/img/bottom-carousel/fleche1.png">
	  		</div>
	  		<div class="nav-slide nav-slide2">
	  			<div class="nav-slide-icon icon2"></div>
	  			<p class="icon-p">Les centres commerciaux</p>
	  			<img class="hidden-arrow arrow2" src="assets/img/bottom-carousel/fleche2.png">
	  		</div>
	  		<div class="nav-slide nav-slide3">
	  			<div class="nav-slide-icon icon3"></div>
	  			<p class="icon-p">Les collectivités</p>
	  			<img class="hidden-arrow arrow3" src="assets/img/bottom-carousel/fleche3.png">
	  		</div>
	  		<div class="nav-slide nav-slide4">
	  			<div class="nav-slide-icon icon4"></div>
	  			<p class="icon-p">Les écoles</p>
	  			<img class="hidden-arrow arrow2" src="assets/img/bottom-carousel/fleche4.png">
	  		</div>
	  		<div class="nav-slide nav-slide5">
	  			<div class="nav-slide-icon icon5"></div>
	  			<p class="icon-p">Les parents</p>
	  			<img class="hidden-arrow arrow1" src="assets/img/bottom-carousel/fleche5.png">
	  		</div>
	  	</div>
	  	<div class="middle-info-carousel">
	  		<div class="middle-info-slide">
	  			<div class="middle-info-left">
	  				<h1>Notre offre Entreprises</h1>
	  				<p>Vous souhaitez améliorer la qualité de vie de vos collaborateurs-parents, découvrez nos services dédiés aux entreprises.</p>
	  				<ul>
	  					<li>Stages vacances</li>
	  					<li>Journées de la parentalité (family days)</li>
	  					<li>Évènements spéciaux (arbre de noël, garde d'urgence,...)</li>
	  				</ul>
	  			</div>
	  			<img src="/assets/img/bottom-carousel/visuel_les_entreprises.jpg">
	  		</div>
	  		<div class="middle-info-slide">
	  			<div class="middle-info-left">
	  				<h1>Nos offres Centres Commerciaux</h1>
	  				<p>Vous souhaitez fidéliser votre clientèle Familles et améliorer votre attractivité, découvrez nos services dédiés aux centres commerciaux.</p>
	  				<ul>
	  					<li>Espaces enfants</li>
	  					<li>Animations enfants lors d'évènements spéciaux</li>
	  				</ul>
	  			</div>
	  			<img src="/assets/img/bottom-carousel/visuel_centre_commerciaux.jpg">
	  		</div>
	  		<div class="middle-info-slide">
	  			<div class="middle-info-left">
	  				<h1>Notre offre Collectivités</h1>
	  				<p>Vous souhaitez optimiser la gestion de vos structures et bénéficier de notre expertise métier, découvrez nos services dédiés aux collectivités.</p>
	  				<ul>
	  					<li>Accueils de loisirs péri et extrascolaires,</li>
	  					<li>Conseils en gestion (audit, recrutement, coordination pédagogique, …)</li>
	  				</ul>
	  			</div>
	  			<img src="/assets/img/bottom-carousel/visuel_collectivites.jpg">
	  		</div>
	  		<div class="middle-info-slide">
	  			<div class="middle-info-left">
	  				<h1>Notre offre Écoles</h1>
	  				<p>Vous souhaitez enrichir votre offre pédagogique pendant les temps périscolaires, découvrez nos services dédiés aux écoles »</p>
	  				<ul>
	  					<li>Ateliers ludo-éducatifs (théâtre, Autour de l’alimentation, Les petits scientifiques,…)</li>
	  				</ul>
	  			</div>
	  			<img src="/assets/img/bottom-carousel/visuel_ecoles.jpg">
	  		</div>
	  		<div class="middle-info-slide">
	  			<div class="middle-info-left">
	  				<h1>Notre offre Parents</h1>
	  				<p>Vous souhaitez proposer à vos enfants des activités d’éveil et de loisirs originales, découvrez nos services dédiés aux parents.</p>
	  				<ul>
	  					<li>Anniversaires</li>
	  					<li>Stages vacances</li>
	  					<li>Ateliers hebdomadaires (initiation à l’anglais, au cirque, …)</li>
	  				</ul>
	  			</div>
	  			<img src="/assets/img/bottom-carousel/visuel_parents.png">
	  		</div>
	  	</div>
	  	<div id="activity" class="interaction-buttons">
	  		<div class="contact-button"></div>
	  		<div class="activity-button"></div>
	  	</div>
	  </div>
	  <div id="contact" class="bottom-contact">
	  	<div class="bottom-contact-left">
	  		<h1>Contactez-nous</h1>
	  		<img class="contact-underline" src="assets/img/trait_titre_contact.png">
	  		<p>Nos solutions sont conçues sur-mesure pour chacun de nos clients.</p>
			<p>Vous souhaitez évoquer avec nous votre projet ? Partagez vos envies, nous vous recontacterons dans les meilleurs délais.</p>
			<img class="kids_illu" src="assets/img/kids_illu.png">
	  	</div>
	  	<div class="bottom-contact-right">
	  		<div class="write-us">
	  		<img class="illu" src="assets/img/illustrations_2.png">
	  		<div class="write-us-button"></div>
	  		</div>
	  	</div>
	  </div>
	  <div class="bottom-illustration">
	  		<img src="assets/img/kids_illus_2016_baseline_graine.png">
	  </div>
	  <div class="bottom-menu">
	  	<p><a href="{{ path('mentions') }}">Mentions légales</a> | <a href="{{ path('credits') }}">Crédits</a></p>
	  </div>
  </div>
  <div class="bottom-line">
	  	
	  </div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script type="text/javascript" src="assets/js/app.js"></script>
</body>
</html>