<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
</head>
<body>
	<div class="content">
	  <div class="top-nav-div">
	  	<ul>
	  		<li><a href="#about"></a>Qui sommes-nous ?</li>
	  		<li><a href="#offers"></a>Nos offres</li>
	  		<li><a href="#contact"></a>Contact</li>
	  		<li><a href="#contact"></a>Réserver une activité</li>
	  	</ul>
	  </div>
	  <div class="carousel-top">
	  	<div class="slide">
	  		<div class="slide-son">
	  			<h1>Lorem ipsum</h1>
	  			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	  			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
	  		</div>
	  	</div>
	  	<div class="slide">
	  		<div class="slide-son">
	  			<h1>Lorem ipsum</h1>
	  			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	  			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
	  		</div>
	  	</div>
	  	<div class="slide">
	  		<div class="slide-son">
	  			<h1>Lorem ipsum</h1>
	  			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	  			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
	  		</div>
	  	</div>
	  	<div class="slide">
	  		<div class="slide-son">
	  			<h1>Lorem ipsum</h1>
	  			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	  			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
	  		</div>
	  	</div>
	  	<div class="slide">
	  		<div class="slide-son">
	  			<h1>Lorem ipsum</h1>
	  			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	  			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
	  		</div>
	  	</div>
	  </div>
  </div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script type="text/javascript" src="assets/js/app.js"></script>
</body>
</html>