<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="content">
	  <div class="top-nav">
	  	<div class="logo"><img src="assets/img/logo.png"></div>
	  	<ul>
	  		<li class="main-menu"><a href="#about">Qui sommes-nous ?</a></li>
	  		<li class="main-menu"><a href="#offers">Nos offres</a></li>
	  		<li class="main-menu"><a href="#contact">Contact</a></li>
	  		<li class="red-square"><a href="#contact">Réserver une activité</a></li>
	  	</ul>
	  </div>
	  <div class="carousel-top">
	  	<div class="slide">
	  	<img src="assets/img/top-carousel/visuel_1.jpg">
	  		<div class="slide-son slide-son-1">
	  			<h1>Pour les Entreprises</h1>
	  			<p>Nos solutions sur-mesure pour simplifier le quotidien de vos salariés-parents : Journées parentalité, stages vacances,…</p>
	  		</div>
	  	</div>
	  	<div class="slide">
	  	<img src="assets/img/top-carousel/visuel_2.jpg">
	  		<div class="slide-son slide-son-2">
	  			<h1>Pour les Centres Commerciaux</h1>
	  			<p>Nos espaces enfants pour permettre à vos clients de shopper librement : animations permanentes ou évènementielles.</p>
	  		</div>
	  	</div>
	  	<div class="slide">
	  	<img src="assets/img/top-carousel/visuel_3.jpg">
	  		<div class="slide-son slide-son-3">
	  			<h1>Pour les Collectivités</h1>
	  			<p>Nos solutions d’accompagnement pour la gestion de vos activités péri et extrascolaires : recrutement, audit, coordination pédagogique,…</p>
	  		</div>
	  	</div>
	  	<div class="slide">
	  	<img src="assets/img/top-carousel/visuel_4.jpg">
	  		<div class="slide-son slide-son-4">
	  			<h1>Pour les Écoles</h1>
	  			<p>Nos ateliers ludo-éducatifs pour compléter votre offre périscolaire : Théâtre, Autour de l’alimentation, Les petits scientifiques,…</p>
	  		</div>
	  	</div>
	  	<div class="slide">
	  	<img src="assets/img/top-carousel/visuel_5.jpg">
	  		<div class="slide-son slide-son-5">
	  			<h1>Pour les Parents</h1>
	  			<p>Nos activités d’éveil et de loisirs pour vos enfants de 0 à 12 ans : Anniversaires, stages vacances, ateliers hebdomadaires (Initiation à l’anglais, au cirque, …</p>
	  		</div>
	  	</div>
	  </div>
	  <div class="top-info">
	  	<div class="top-info-static">
	  		<h1>Kids attitude, spécialiste des activités</h1>
	  		<h1>ludo-éducatives pour les enfants de 4 à 12 ans</h1>
	  		<img src="assets/img/trait_titre_1.png">
	  		<p>Kids Attitude est l'un des premiers gestionnaires d'espaces de loisirs pour les entreprises et centres commerciaux. Nous développons également des services d'accompagnement des collectivités et écoles dans leurs activités péri et extrascolaires.</p>
	  	</div>
	  	<div class="top-info-carousel">
	  		<div class="top-info-slide">
	  			<img src="">
	  			<ul>
	  				<li></li>
	  				<li></li>
	  				<li></li>
	  			</ul>
	  		</div>
	  		<div class="top-info-slide">
	  			<img src="">
	  			<ul>
	  				<li></li>
	  				<li></li>
	  				<li></li>
	  			</ul>
	  		</div>
	  		<div class="top-info-slide">
	  			<img src="">
	  			<ul>
	  				<li></li>
	  				<li></li>
	  				<li></li>
	  			</ul>
	  		</div>
	  		<div class="top-info-slide">
	  			<img src="">
	  			<ul>
	  				<li></li>
	  				<li></li>
	  				<li></li>
	  			</ul>
	  		</div>
	  		<div class="top-info-slide">
	  			<img src="">
	  			<ul>
	  				<li></li>
	  				<li></li>
	  				<li></li>
	  			</ul>
	  		</div>
	  	</div>
	  </div>
	  <div class="middle-info">
	  <h1>Kids Attitude, vos solutions clé en main</h1>
	  <p>Kids Attitude développe et exploite une offre multi-services de solutions d’accueil de loisirs sur-mesure pour ses clients.</p>
	  	<div class="middle-info-carousel">
	  		<div class="middle-info-slide">
	  			<div class="middle-info-left">
	  				<h1></h1>
	  				<p></p>
	  				<ul>
	  					<li></li>
	  					<li></li>
	  				</ul>
	  			</div>
	  			<img src="">
	  		</div>
	  		<div class="middle-info-slide">
	  			<div class="middle-info-left">
	  				<h1></h1>
	  				<p></p>
	  				<ul>
	  					<li></li>
	  					<li></li>
	  				</ul>
	  			</div>
	  			<img src="">
	  		</div>
	  		<div class="middle-info-slide">
	  			<div class="middle-info-left">
	  				<h1></h1>
	  				<p></p>
	  				<ul>
	  					<li></li>
	  					<li></li>
	  				</ul>
	  			</div>
	  			<img src="">
	  		</div>
	  		<div class="middle-info-slide">
	  			<div class="middle-info-left">
	  				<h1></h1>
	  				<p></p>
	  				<ul>
	  					<li></li>
	  					<li></li>
	  				</ul>
	  			</div>
	  			<img src="">
	  		</div>
	  		<div class="middle-info-slide">
	  			<div class="middle-info-left">
	  				<h1></h1>
	  				<p></p>
	  				<ul>
	  					<li></li>
	  					<li></li>
	  				</ul>
	  			</div>
	  			<img src="">
	  		</div>
	  	</div>
	  </div>
	  <div class="bottom-contact">
	  	<div class="bottom-contact-left">
	  		<h1>Contactez-nous</h1>
	  		<p>Nos solutions sont conçues sur-mesure pour chacun de nos clients.</p>
			<p>Vous souhaitez évoquer avec nous votre projet ? Partagez vos envies, nous vous recontacterons dans les meilleurs délais.</p>
			<img src="">
	  	</div>
	  	<div class="bottom-contact-right">
	  		<div class="write-us">
	  			<i class="fa fa-pencil" aria-hidden="true"></i>Écrivez-nous
	  		</div>
	  	</div>
	  </div>
	  <div class="bottom-illustration">
	  		
	  </div>
	  <div class="bottom-menu">
	  	<p><a href="{{ path('mentions') }}">Mentions légales</a> | <a href="{{ path('credits') }}">Crédits</a></p>
	  </div>
  </div>
  <div class="bottom-line">
	  	
	  </div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script type="text/javascript" src="assets/js/app.js"></script>
</body>
</html>